@model Lab2_DB.Models.Department

@{
    ViewData["Title"] = "Створити";
}

<h1>Створити</h1>

<h4>Відділ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TitleDepartment" class="control-label"></label>
                <input asp-for="TitleDepartment" class="form-control" />
                <span asp-validation-for="TitleDepartment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaderDepartment" class="control-label"></label>
                <input asp-for="LeaderDepartment" class="form-control" />
                <span asp-validation-for="LeaderDepartment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Library" class="control-label"></label>
                <select asp-for="Library" class="form-control" asp-items="ViewBag.Library"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутися до списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
