@model Lab2_DB.Models.Reader

@{
    ViewData["Title"] = "Додати";
}

<h1>Додати</h1>

<h4>Читач</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullNameReader" class="control-label"></label>
                <input asp-for="FullNameReader" class="form-control" />
                <span asp-validation-for="FullNameReader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumberReader" class="control-label"></label>
                <input asp-for="PhoneNumberReader" class="form-control" />
                <span asp-validation-for="PhoneNumberReader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailReader" class="control-label"></label>
                <input asp-for="EmailReader" class="form-control" />
                <span asp-validation-for="EmailReader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleReader" class="control-label"></label>
                <input asp-for="RoleReader" class="form-control" />
                <span asp-validation-for="RoleReader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceStudyOrWorkReader" class="control-label"></label>
                <input asp-for="PlaceStudyOrWorkReader" class="form-control" />
                <span asp-validation-for="PlaceStudyOrWorkReader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутися до списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
